@page
@model PizzeriaPresentacion.Pages.carritoModel
@{
     ViewData["Title"] = "carrito";
}

<div class="top">
    <img src="https://localhost:5001/imagenes/logo.jpeg" alt="" width="100px" height="100px">
    <P>Pruductos agregados a su carrito</P>
</div>
<form method="post">
<table class = "table">
<thead>
  <tr>
    <td>Nombre</td>
    <td>Cantidad</td>
    <td>Precio</td>
    <td>Total</td>
  </tr>
</thead>
     <tr>
        <td>@Model.producto.Nombre</td>
        <td>@Model.producto.Cantidad</td>
        <td>@Model.producto.Precio</td>
      </tr>
      <input type="submit" class="btn btn-primary" value="Agregar">
      <a asp-page="/HMI/menu" class="btn btn-success col-sm-1">Continuar</a>
</table>
</form>
