@page
@model PizzeriaPresentacion.Pages.carritoModel
@{
     ViewData["Title"] = "carrito";
}

<div class="top">
    <img src="https://localhost:5001/imagenes/logo.jpeg" alt="" width=100px" height="100px">
    <P>Pruductos agregados a su carrito</P>
</div>