@page
@model PizzeriaPresentacion.Pages.registroModel
@{
    ViewData["Title"] = "Registro";
}
<div class="border">
    <form method="post">
      <div asp-validation-sumary="ModelOnly" class="text-danger"></div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label asp-for="cliente.Email"></label>
          <input asp-for="cliente.Email" class="form-control" id="inputEmail" required="required">
          <span asp-validation-for="cliente.Email" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
          <label asp-for="cliente.Password"></label>
          <input asp-for="cliente.Password" type="password" class="form-control" id="inputPassword" required="required">
          <span asp-validation-for="cliente.Password" class="text-danger"></span>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-6">
          <label asp-for="cliente.Nombres"></label>
          <input asp-for="cliente.Nombres" class="form-control" id="inputNombres" required="required">
          <span asp-validation-for="cliente.Nombres" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
          <label asp-for="cliente.Apellidos"></label>
          <input asp-for="cliente.Apellidos" class="form-control" id="inputApellidos" required="required">
          <span asp-validation-for="cliente.Apellidos" class="text-danger"></span>
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label asp-for="cliente.Telefono"></label>
          <input asp-for="cliente.Telefono" class="form-control" id="inputTelefono" required="required">
          <span asp-validation-for="cliente.Telefono" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
          <label asp-for="cliente.Edad"></label>
          <input asp-for="cliente.Edad" class="form-control" id="inputUsuario" required="required">
          <span asp-validation-for="cliente.Edad" class="text-danger"></span>
        </div>
      </div>
      <div class="form-group">
        <label asp-for="cliente.Direccion"></label>
        <input asp-for="cliente.Direccion" class="form-control" id="inputAddress" required="required">
        <span asp-validation-for="cliente.Direccion" class="text-danger"></span>
      </div>
      <div class="form-group">
      </div>
      <button type="submit" class="btn btn-primary">Crear Cliente</button>
    </form>
</div>

